.resumeSection {
    margin: 0 auto 30px;
    display: flex;
    flex-flow: wrap;
}

.resumeSectionTitleContainer {
    width: 30%;
    min-width: 200px;
    flex-grow: 1;
}

.resumeSectionTitle {
    position: sticky;
    top: 15px;
    align-self: flex-start;
}

.resumeSectionContent {
    flex-grow: 1;
    min-width: 350px;
    width: 65%;
    margin: 0 0 20px;
}

.resumeSectionContent h2 {
    font-size: 16pt;
}

.resumeSectionContent h2:first-child {
    margin: 7px 0 0px;
}

.resumeSectionContent h2:not(:first-child) {
    margin: 25px 0 0px;
}

.resumeSectionContent blockquote {
    margin: 4px 0 8px;
    font-weight: 500;
}

.resumeSectionContent ul+blockquote {
    margin: 20px 0 8px;
}

.resumeSectionContent blockquote p {
    margin: 0;
    font-size: 10pt;
    line-height: 1.4;
}

.resumeSectionContent ul {
    margin-left: 30px;
}

.resumeSectionContent li {
    line-height: 1.4;
    font-size: 12pt;
}

.resumeSectionContent li p {
    margin: 0;
}

a {
    color: black;
}

blockquote p {
    padding: 0 0 3px;
}
