.footer {
    list-style-type: none;
    border-top: 1px solid black;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 20px 5px 5px;
}

.footerText {
    font-size: 0.75em;
}
