.listSection {
    margin-top: 20px;
}

.listSection:first-child {
    margin: 0px;
}

.listSection:last-child {
    border: none;
}

.listSection header {
    position: sticky;
    background-color: white;
    top: 0;
    padding-top: 20px;
    padding-bottom: 5px;
}

.listSectionItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 20px;
    margin-bottom: 5px;
}
