.list {
}

.listHeader {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px;
    gap: 10px;
}

.listHeader h1 {
    margin-right: 30px;
    white-space: nowrap;
}

.listHeader div {
    min-width: 200px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 20px;
    margin-bottom: 15px;
    width: 100%;
}

.filters .filter {
    min-width: 30px;
}

.filters .filter label {
    margin-left: 5px;
}

.list hr {
    margin: 15px 0 30px;
}

p.additionalInfo {
    font-size: 11pt;
}
